<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
        <style>
  h1{
    color:black;
    font-size:70px;
    font-style:italic;
    text-align:center;
  }
    table{
       border:3px solid;
        width:800px;
        height:600px;
        text-align:center;
       font-size:25px;
       
        color:black;
        margin-left:180px;
    }
  
    
  body{
     
      background-color:#FFFFFF;
    }
  
  </style>
    </head>
<body >
  <h1>BookKarts</h1>
  <h2><center>GENRE AVAILABLE</center></h2>
<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            
            <th>Genre ID </th>
            <th>Name(in rs) </th>
            
        </tr>
                       
        <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>
         
        <tr>
           
            <td><%=data[i].g_id%></td>
            <td><%=data[i].name%></td>
            
           <td>
               
                <a class="a-inside delete" href="javascript:void(0)" onClick="deleteUser(<%=data[i].g_id%>)">Delete</a>
               
            </td>
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Data</td>
         </tr>
    <% } %>
                                      
    </table>
</div>
<div class="page-data">
    <h2><center>ADD NEW GENRE</center></h2>
    <form method="post" action="" id="the-form">
        <table cellpadding="11">
         <tr>
        <td class="label">Genre ID</td><td>: <input type="text" name="g_id" value="<%=data[0].g_id%>"></td>
     </tr>
    <tr>
        <td class="label">Genre Name</td><td>: <input type="text" name="name" value="<%=data[0].name%>"></td>
     </tr>
    
         <tr>
            <td class="label"></td>
            <td>
                &nbsp; <input type="button" value="Save" onClick="saveUser()">
            </td>
         </tr>
        </table>
    </form>
</div>
<div>
  <a style="float:right;" href="/api/books">See Books</a>
</div>
<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>

    function saveUser(){
       
       $.ajax({
        
        url:"/api/genre",
        type:"post",
        data:$("#the-form").serialize(),
        success:function(res){
            
            window.location.reload();
            return false;
        },
        error:function(xhr, status, error){
            
            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {
               
                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);    
            return false;
        }
        
       });
    }
    
    function deleteUser(g_id){
    
        $.ajax({
            url:"/api/genre/"+g_id,
            type: 'DELETE',
            success: function(res) {
                
                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){
            
                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }
    </script>
</body>
</html>
